<div class="wraper">


  <div class="menu">

    <div class="mini-submenu">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>

    <div class="list-group">
        <span href="#" class="list-group-item active">
            <span class="pull-right" id="slide-submenu">
                <i class="fa fa-times"></i>
            </span>
        </span>


      <div class="circle">
        <span></span>
      </div>

      <ul class="menu-list">
        <li><a href="#" class="list-group-item">
          <i class="fa fa-pencil"></i>  Edit Profile
        </a>
        </li>
        <li>
          <a href="#" class="list-group-item">
            <i class="fa fa-sliders" style="font-size:24px"></i> Settings
          </a>
        </li>
      </ul>


    </div>

    <ul  class="tabs">
      <li  class="nav-item">
        <a  class="nav-link active" href="#home" >items1</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" href="#menu1">items2</a>
      </li>
    </ul>

    <div class="chat-item">
      <img src="assets/img/chat.png" >
      <span class="badge badge-pill badge-info">1</span>
    </div>

    <div class="chat-section" style="display:none">
      <input type="text">
    </div>

  </div>


  <div id="tinderslide">
    <ul>
      <li class="pane1">
        <div class="img">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/img/b1.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b3.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b4.jpg" alt=""></div>
            </div>
          </div>
          <!--<div class="swiper-pagination"></div>-->
        </div>
        <div>
          <div class="cart">
            <div class="card-header1">
              <p>Text1</p>
              <p>Seattle, WA</p>
              <p>Description 1</p>
            </div>
          </div>
        </div>
        <div class="like"></div>
        <div class="dislike"></div>
      </li>
      <li class="pane2">
        <div class="img">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/img/a1.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b1.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/a4.jpg" alt=""></div>
            </div>
          </div>
          <!--<div class="swiper-pagination"></div>-->
        </div>
        <div>
          <div class="cart">
            <div class="card-header1">
              <p>Text2</p>
              <p>Seattle, WA</p>
              <p>Description 2</p>
            </div>
          </div>
        </div>
        <div class="like"></div>
        <div class="dislike"></div>
      </li>
      <li class="pane3">
        <div class="img">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/img/b1.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/a2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/a3.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b4.jpg" alt=""></div>
            </div>
          </div>
          <!--<div class="swiper-pagination"></div>-->
        </div>
        <div>
          <div class="cart">
            <div class="card-header1">
              <p>Text 3</p>
              <p>Seattle, WA</p>
              <p>Description 3</p>
            </div>
          </div>
        </div>
        <div class="like"></div>
        <div class="dislike"></div>
      </li>
      <li class="pane4">
        <div class="img">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/img/a3.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/a2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b3.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b4.jpg" alt=""></div>
            </div>
          </div>
          <!--<div class="swiper-pagination"></div>-->
        </div>
        <div>
          <div class="cart">
            <div class="card-header1">
              <p>Text4</p>
              <p>Seattle, WA</p>
              <p>Description 4</p>
            </div>
          </div>
        </div>
        <div class="like"></div>
        <div class="dislike"></div>
      </li>
      <li class="pane5">
        <div class="img">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/img/b2.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/a4.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/b3.jpg" alt=""></div>
              <div class="swiper-slide"><img src="assets/img/a1.jpg" alt=""></div>
            </div>
          </div>
          <!--<div class="swiper-pagination"></div>-->
        </div>
        <div>
          <div class="cart">
            <div class="card-header1">
              <p>Text5</p>
              <p>Seattle, WA</p>
              <p>Description5</p>
            </div>
          </div>
        </div>
        <div class="like"></div>
        <div class="dislike"></div>
      </li>
    </ul>
  </div>
  <div class="swiper-pagination"></div>

  <!--</div>-->
</div>
